.difficulty {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3px;
  font-size: 0.8rem;
}

.indicator {
  display: flex;
  justify-content: center;
  column-gap: 3px;
  color: transparent;
}

.indicator svg {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--grey-color);
  width: 15px;
  height: 15px;
}

.indicator svg.fill {
  fill: var(--accent-color);
  width: 15px;
  height: 15px;
}
