.select {
  height: 40px;
  border: 1px solid var(--grey-color);
  background-color: var(--bg-color);
  filter: brightness(95%);
  padding: 0 10px;
  border-radius: 5px;
  -webkit-appearance: none;
}
