.plan {
  position: relative;
  flex: 1;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, minmax(150px, 200px));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  gap: 20px;
  padding: 40px;
}

/* § MOBILE */
.mobile {
  width: 100vw;
  flex: 1 0 auto;
}

/* Mobile Swiper */
.swiper {
  width: 85vmin;
  height: 95%;

  /*? This is external library, i don't know how to fix this in a different way */
  overflow: visible !important;
  z-index: -1 !important;
}
