.wrapper {
  position: relative;
  align-self: center;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

.plan {
  --max-col-width: 230px;
  --gap: 20px;
  --padding: 40px;

  position: relative;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(150px, var(--max-col-width)));
  grid-template-rows: repeat(auto-fill, minmax(35vmin, 1fr));
  gap: var(--gap);
  padding: var(--padding);
  max-width: calc(
    var(--max-col-width) * 4 + var(--gap) * 3 + (var(--padding) * 2)
  );
  width: 100%;
  align-self: center;
  align-items: stretch;
}

/* § MOBILE */
.wrapper.mobile {
  width: 100vw;
  height: 100%;
  padding-bottom: 20px;
}

.plan-mobile {
  width: 100vw;
  height: 100%;
  flex: 1 0 auto;
}

/* Mobile Swiper */
.swiper {
  width: 85vmin;
  height: 100%;

  /*? This is for overwriting external library, i don't know how to fix this in a different way */
  overflow: visible !important;
  z-index: 0 !important;
}
