.meal {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 5px 5px 10px;
  border: 1px solid var(--grey-color);
  border-radius: var(--border-radius);
  font-size: 0.8rem;
  box-shadow: var(--shadow);
  background-color: var(--bg-color);
  overflow: hidden;
}

.tag {
  position: absolute;
  right: 0;
  width: 5px;
  height: 100%;
  background-color: var(--tag-3-color);
}

/* § MOBILE */
