/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.content {
  --shadow-color: 46deg 71% 38%;
  --shadow-elevation-low: -0.3px 0.3px 0.5px hsl(var(--shadow-color) / 0.34),
    -0.5px 0.5px 0.8px -1.2px hsl(var(--shadow-color) / 0.34),
    -1.3px 1.3px 2.1px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium: -0.3px 0.3px 0.5px hsl(var(--shadow-color) / 0.36),
    -1.1px 1.1px 1.8px -0.8px hsl(var(--shadow-color) / 0.36),
    -2.7px 2.7px 4.3px -1.7px hsl(var(--shadow-color) / 0.36),
    -6.5px 6.6px 10.4px -2.5px hsl(var(--shadow-color) / 0.36);
  --drop-shadow-elevation-medium: -0.3px 0.3px 0.5px
      hsl(var(--shadow-color) / 0.36),
    -1.1px 1.1px 1.8px hsl(var(--shadow-color) / 0.36),
    -2.7px 2.7px 4.3px hsl(var(--shadow-color) / 0.36),
    -6.5px 6.6px 10.4px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: -0.3px 0.3px 0.5px hsl(var(--shadow-color) / 0.34),
    -1.9px 1.9px 3px -0.4px hsl(var(--shadow-color) / 0.34),
    -3.6px 3.6px 5.7px -0.7px hsl(var(--shadow-color) / 0.34),
    -5.8px 5.9px 9.3px -1.1px hsl(var(--shadow-color) / 0.34),
    -9.3px 9.4px 14.9px -1.4px hsl(var(--shadow-color) / 0.34),
    -14.6px 14.8px 23.4px -1.8px hsl(var(--shadow-color) / 0.34),
    -22.2px 22.4px 35.5px -2.1px hsl(var(--shadow-color) / 0.34),
    -32.7px 33px 52.3px -2.5px hsl(var(--shadow-color) / 0.34);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 500px;
  border-radius: var(--border-radius);
  background-color: var(--bg-color);
  -webkit-box-shadow: var(--shadow-elevation-high);
  box-shadow: var(--shadow-elevation-high);
}

.content h1 {
  font-family: "Sansita Swashed", cursive;
  font-weight: 500;
  font-size: 3rem;
  text-transform: none;
  color: var(--accent-color);
}

.content label {
  font-style: italic;
  color: var(--accent-color);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 50px 30px 50px;
  row-gap: 20px;
  width: 80%;
}

.actions {
  position: relative;
  padding-top: 20px;
}

.form-message {
  position: absolute;
  width: max-content;
  top: -10px;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--warning-red-color);
}

.field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  row-gap: 10px;
}

.field input {
  width: 100%;
}

.content span {
  font-size: 0.8rem;
  font-weight: 300;
  font-style: italic;
  color: var(--font-color);
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-column-gap: 50px;
  -moz-column-gap: 50px;
  column-gap: 50px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--bg-color);
  -webkit-filter: brightness(95%);
  filter: brightness(95%);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  width: 100%;
  padding: 20px 20px 20px 20px;
}

.lemon-skin {
  position: absolute;
  bottom: 0;
  left: 0;
  translate: -40% 20%;
  pointer-events: none;
  -webkit-filter: drop-shadow(
      -0.3px 0.3px 0.5px hsl(var(--shadow-color) / 0.36)
    )
    drop-shadow(-1.1px 1.1px 1.8px hsl(var(--shadow-color) / 0.36))
    drop-shadow(-2.7px 2.7px 4.3px hsl(var(--shadow-color) / 0.36))
    drop-shadow(-6.5px 6.6px 10.4px hsl(var(--shadow-color) / 0.36));
  filter: drop-shadow(-0.3px 0.3px 0.5px hsl(var(--shadow-color) / 0.36))
    drop-shadow(-1.1px 1.1px 1.8px hsl(var(--shadow-color) / 0.36))
    drop-shadow(-2.7px 2.7px 4.3px hsl(var(--shadow-color) / 0.36))
    drop-shadow(-6.5px 6.6px 10.4px hsl(var(--shadow-color) / 0.36));
}

.lemon-slice {
  position: absolute;
  top: 0;
  right: 0;
  translate: 40% -40%;
  pointer-events: none;
}

/* ----------------------------------------------
   * Generated by Animista on 2022-12-21 13:59:5
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info. 
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */

/**
   * ----------------------------------------
   * animation rotate-center
   * ----------------------------------------
   */
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  80% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  80% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotate-center {
  -webkit-animation: rotate-center 10s cubic-bezier(0.68, -0.55, 0.265, 1.55) 2s
    both infinite;
  animation: rotate-center 10s cubic-bezier(0.68, -0.55, 0.265, 1.55) 2s both
    infinite;
}

.lemon-slice-shadow {
  position: absolute;
  width: 98%;
  height: 95%;
  z-index: -1;
  border-radius: 50%;
  -webkit-box-shadow: var(--shadow-elevation-high);
  box-shadow: var(--shadow-elevation-high);
}

/* § MOBILE */

.content.mobile {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  overflow-y: scroll;
}

.content.mobile .form {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px 0;
}
