.add-catalog {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  min-width: 500px;
  max-width: 800px;
  width: fit-content;
  padding: 20px;
  row-gap: 20px;
  background-color: var(--bg-color);
  border: 1px solid var(--hover-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  margin: 20px;
  z-index: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.form {
  position: relative;
  display: grid;
  grid-template-columns: minmax(120px, 250px) 100px 80px 80px 120px;
  color: var(--font-color);
  font-size: 0.8rem;
  font-weight: 300;
  column-gap: 20px;
  row-gap: 15px;
  padding-bottom: 40px;
}

.col {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.col label {
  margin: 0 5px;
}

/* § Suggestions / autocomplete */

.form ul {
  position: absolute;
  top: 100%;
  width: 100%;
  list-style: none;
  border-left: var(--border);
  border-right: var(--border);
  background-color: white;
  border-radius: 5px;
  box-shadow: var(--shadow);
  overflow: hidden;
  z-index: 1;
}

.form li {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  border-bottom: var(--border);
}

.form li:hover {
  background-color: var(--bg-color);
}

.btn-expiry {
  position: absolute;
  right: 0;
  top: -7px;
}

.message {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  font-weight: 200;
  color: var(--warning-red-color);
}

/* § MOBILE */
.add-catalog.mobile {
  position: absolute;
  min-width: auto;
  top: 0;
  width: 100%;
  min-height: 100%;
  margin: 0;
}

.add-catalog.mobile .form {
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.add-catalog.mobile .name {
  grid-column: 1/3;
}

@media (max-width: 350px) {
  .add-catalog.mobile .form {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .add-catalog.mobile .name {
    grid-column: auto;
  }
}
