.shopping-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  translate: 101%;
  width: 350px;
  height: 100vh;
  border-left: 1px solid var(--grey-color);
  backdrop-filter: blur(10px);
  transition: var(--transition);
}

.header {
  margin: 20px 20px 0 0;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn-toggle {
  position: absolute;
  left: 0;
  transform: translate(-100%);
  transition: var(
    --transition
  ) !important; /* Used !important because there is a universal .btn class with different transition time */
}

.shopping-list.active {
  translate: 0;
}
