.shopping-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  translate: 102%;
  width: 350px;
  height: 100%;
  border-left: 1px solid var(--grey-color);
  backdrop-filter: blur(10px);
  transition: var(--transition);
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  box-shadow: var(--shadow);
}

.header {
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn-toggle {
  position: absolute;
  padding: 0 15px;
  height: 40px;
  color: var(--font-negative-color);
  background-color: var(--accent-color);
  font-size: 0.8rem;
  font-weight: 400;
  border: none;
  border-radius: var(--border-radius);
  left: 0;
  translate: -100%;
  transition: var(--transition);
}

.shopping-list.active {
  translate: 0%;
}

.shopping-list.peek {
  translate: 80%;
}

.btn-toggle.peek {
  translate: -80%;
}

.btn-toggle.active {
  translate: -10%;
}

.btn-add {
  padding: 0 5px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
  color: var(--grey-color);
  font-weight: 300;
  font-size: 0.8rem;
  height: 45px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
}

.btn-add:hover {
  color: var(--accent-color);
}

.btn-submit {
  position: fixed;
  bottom: 15px;
  left: 50%;
  translate: -50%;
  width: 90%;
}

/* FORM */
.form {
  padding: 0 15px;
}

.form h2 {
  text-transform: capitalize;
  color: var(--accent-color);
}

.form > ul {
  margin-bottom: 30px;
}

/* FORM ITEM */
.item {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: var(--border);
}

.item input,
.item select {
  background-color: transparent;
  border: none;
  font-size: 0.8rem;
  min-width: 0;
  height: 45px;
}

.item input:focus {
  outline: transparent;
}

.item-checkbox {
  flex: 0 0 auto;
  margin-right: 5px;
}

.item-name {
  flex: 1 1 auto;
}

.item-amount {
  flex: 1 0 60px;
}

.item-unit {
  flex: 1 0 50px;
}

/* § MOBILE */

.shopping-list.mobile {
  width: 100%;
  height: calc(100vh - var(--mobile-nav-bar-size));
  transition: 0s;
}

.shopping-list.mobile .header {
  justify-content: center;
}

.shopping-list.mobile h1 {
  font-size: 9vmin;
}

@media (min-width: 1800px) {
  .shopping-list {
    background-color: var(--bg-color);
    backdrop-filter: none;
  }
}
