.input {
  height: 40px;
  border: 1px solid var(--grey-color);
  background-color: var(--bg-color);
  filter: brightness(95%);
  padding: 0 10px;
  border-radius: var(--border-radius);
  -webkit-appearance: none;
}

.invalid {
  height: 40px;
  border: 1px solid var(--warning-red-color);
  background-color: rgba(255, 68, 0, 0.157);
  padding: 0 10px;
  -webkit-appearance: none;
}

/* Disable the arrow */
.input {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

/* For IE */
.input::-ms-expand {
  display: none;
}

/* Disable arrows Chrome, Safari, Edge, Opera */
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* § CHECKBOX CUSTOM STYLE */

.input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: transparent;
  /* Not removed via appearance */
  /* margin: 0; */
  padding: 0;
  font: inherit;
  color: currentColor;
  width: 20px;
  height: 20px;
  border: 2px solid var(--grey-color);
  border-radius: 5px;
  display: grid;
  place-content: center;
}

.input[type="checkbox"]::before {
  content: "";
  width: 30px;
  height: 30px;
  clip-path: polygon(20% 45%, 10% 55%, 50% 90%, 90% 16%, 80% 10%, 43% 62%);
  transform: scale(0);
  transform-origin: center;
  transition: 0.1s transform ease-in-out;
  /* Windows High Contrast Mode */
  background-color: var(--accent-color);
}

.input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.input[type="checkbox"]:focus {
  outline: none;
}

.input[type="checkbox"]:disabled {
  color: grey;
  cursor: not-allowed;
}
