.sidebar {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 100vh;
  translate: -100%;
  border-right: var(--border);
  transition: var(--transition);
  overflow: hidden;
}

.sidebar.active {
  translate: 0;
}

.tabs {
  position: relative;
  width: 100%;
  display: flex;
  height: 55px;
  flex: 0 0 auto;
}

.tabs:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%;
  background-color: var(--bg-color);
  filter: brightness(95%);
}

.tab {
  position: relative;
  flex: 1;
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--font-color);
  transition: var(--btn-transition);
  border: none;
  background-color: var(--bg-color);
  filter: brightness(95%);
}

.tab:hover {
  filter: brightness(105%);
}
.tab:active {
  filter: brightness(90%);
  box-shadow: inset rgba(0, 0, 0, 0.1) 0 0 5px;
}

.tab:nth-child(1) {
  border-bottom-right-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.tab:nth-child(2) {
  border-bottom-left-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
}

.tab.active {
  font-weight: 400;
  color: var(--accent-color);
  background-color: var(--bg-color);
  filter: brightness(100%);
  border: none;
}
