.sidebar {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 100vh;
  translate: -100%;
  border-right: var(--border);
  transition: var(--transition);
}

.sidebar.active {
  translate: 0;
}
