.storage-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 10px;
  column-gap: 10px;
  color: var(--font-color);
  border-bottom: 1px solid var(--grey-color);
  font-size: 0.7rem;
  background-color: var(--bg-color);
  overflow: hidden;
}

.dragging {
  box-shadow: var(--shadow);
  border: var(--border);
  border-radius: var(--border-radius);
}

.storage-item:hover {
  filter: brightness(95%);
  cursor: pointer;
}

.bookmark svg {
  color: var(--grey-color);
  fill: var(--grey-color);
}

.bookmark svg.fill {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.title {
  flex: 1;
  font-size: 0.8rem;
}

.unit {
  margin-right: 5px;
}

.tag {
  position: absolute;
  right: 0;
  width: 5px;
  height: 100%;
  background-color: var(--tag-3-color);
}
