.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 50px;
  border: 2px solid transparent;
  background-color: #fff;
  color: var(--accent-color);
}

.tab svg {
  scale: 1.2;
}

.tab.active {
  border: 2px solid var(--accent-color);
  border-radius: 15px;
}
