.nav {
  display: flex;
  padding: 5vmin;
  justify-content: center;
}
.top-nav {
  display: flex;
  align-items: center;
}

.title {
  text-align: center;
  margin: 0 3vmin;
}

.title h1 {
  font-weight: 300;
  font-size: 7.5vmin;
}

.title h2 {
  font-weight: 300;
  font-size: 5vmin;
}

.tabs {
  position: fixed;
  display: flex;
  justify-content: stretch;
  bottom: 0;
  width: 100%;
  border-top: 1px solid var(--grey-color);
  background-color: var(--bg-color);
}
