.tab {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 50px;
  border: none;
  background-color: #fff;
  color: var(--grey-color);
}

.tab svg {
  scale: 1.2;
}

.tab.active {
  color: var(--accent-color);
}
.tab.active:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--accent-color);
}
