.app {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-overflow: hidden;
  background-color: var(--bg-color);
}

.wrapper {
  position: relative;
  height: 100%;
  transition: var(--transition);
  display: flex;
  flex-direction: column;
}

.wrapper.shift {
  margin-left: 400px;
}

/* § MOBILE */
.app.mobile {
  padding-bottom: var(--mobile-nav-bar-size);
  border-radius: 10px;

  /*? This is a fix for safari. The overflow: hidden property doesn't work for children elements but if we add z-index, it works. MAGIC! */
  z-index: 0;
}
