.day {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 35vmin;
  border-radius: var(--border-radius);
  border: 1px solid var(--accent-color);
  padding: 5px;
  row-gap: 15px;
  transition: var(--transition);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 200;
  color: var(--accent-color);
  margin-bottom: 10px;
}

.droppable {
  flex: 1;
  width: 100%;
}

.dragover {
  box-shadow: var(--accent-color) 0 5px 15px;
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  row-gap: 5px;
}

.list li {
  flex: 0 0 auto;
}

.day > button:last-child {
  margin-top: auto;
  margin-bottom: 10px;
}

/* § MOBILE */

.day.mobile {
  min-height: 100%;
}

.day.mobile .title {
  font-size: 11vmin;
}
