.nav {
  display: flex;
  height: 100px;
  padding: 20px;
  padding-right: 164px;
  justify-content: space-between;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.profile {
  display: flex;
  justify-content: center;
  position: relative;
}

.title {
  text-align: center;
  align-self: center;
  height: 40px;
  margin: 0 20px;
}

.title h1 {
  font-size: 2rem;
}

.title h2 {
  font-size: 1rem;
}

.controls {
  display: flex;
  align-items: center;
  align-self: center;
  column-gap: 5px;
}

.controls button:nth-child(2) {
  width: 40px;
  height: 40px;
  scale: 1.2;
}
