.button {
  height: 40px;
  padding: 0 15px;
  font-size: 0.8rem;
  font-weight: 400;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  background-color: transparent;
  color: var(--accent-color);
  transition: var(--btn-transition);
  flex: 0 0 auto;
}

.button:hover {
  border: 1px solid transparent;
  color: var(--font-negative-color);
  background-color: var(--accent-color);
  box-shadow: var(--shadow);
}

.button:active {
  box-shadow: var(--shadow-inset);
  filter: brightness(90%);
}

.fill {
  color: var(--font-negative-color);
  background-color: var(--accent-color);
}

.round {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 1px solid transparent;
  border-radius: 50%;
}

.round:hover {
  filter: brightness(105%);
  color: var(--accent-color);
  background-color: #ededed;
  box-shadow: var(--shadow);
}

.round:active {
  border: var(--border);
  filter: brightness(100%);
  box-shadow: var(--shadow-inset);
}

.round svg {
  vertical-align: middle;
  width: 24px;
  height: 24px;
  transition: var(--btn-transition);
}

.round:hover svg {
  scale: 1.1;
}

.round:active svg {
  scale: 1;
}

.round.mini {
  width: 35px;
  height: 35px;
}

.round.mini svg {
  min-width: 20px;
  height: 20px;
}

.warning {
  color: var(--font-negative-color);
  background-color: var(--indicator-red-color);
  box-shadow: var(--shadow-inset);
}

.warning:hover {
  filter: brightness(105%);
  color: var(--font-negative-color);
  background-color: var(--indicator-red-color);
  box-shadow: var(--shadow);
}

.warning:active {
  filter: brightness(95%);
  color: var(--font-negative-color);
  background-color: var(--indicator-red-color);
  box-shadow: var(--shadow-inset);
}
