.content {
  position: relative;
  top: 10%;
  height: fit-content;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--bg-color);
  z-index: 1;
  padding: 20px;
  margin: 20px;
  max-width: 1000px;
  box-shadow: var(--shadow);
}

.grid {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 275px 1fr;
  gap: 20px;
}

.summary {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--shadow);
  color: var(--font-color);
  background-color: white;
  border-radius: var(--border-radius);
  padding-bottom: 20px;
}

.summary img {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  width: 100%;
  max-height: 150px;
  object-fit: cover;
}

.description h2 {
  color: var(--accent-color);
  text-align: center;
  text-transform: capitalize;
}

.tag {
  position: relative;
  translate: 0 -50%;
}

.indicators {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.header {
  display: flex;
  align-items: flex-start;
  column-gap: 20px;
}

.title {
  flex: 1;
  text-align: center;
  border: none;
  font-size: 2rem;
  height: fit-content;
  font-weight: 200;
  color: var(--accent-color);
  margin: 0 20px 10px 20px;
}

.ingredient-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  list-style: none;
}

.ingredients,
.spices {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  gap: 5px;
  padding: 10px 20px;
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--font-color);
}

.ingredients .title,
.spices .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  margin: 10px 0 0 0;
  text-transform: capitalize;
  font-style: italic;
}

.spices-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
}

.list-item {
  width: 100%;
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.list-item .check {
  color: var(--accent-color);
}

.list-item .name {
  flex: 1;
}

.instructions {
  font-weight: 300;
  font-size: 0.8rem;
  padding: 60px 60px 20px 60px;
  max-width: 800px;
  line-height: 1.2rem;
  columns: var(--font-color);
  white-space: pre-line; /** This preserves line breaks from text area input */
}

@media (max-width: 900px) {
  .content {
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    border-radius: none;
    border: none;
    margin: 0;
  }
}

/* § MOBILE */
@media (max-width: 770px) {
  .content {
    position: absolute;
    border: none;
    top: 0;
    width: 100%;
    height: calc(100vh - var(--mobile-nav-bar-size));
    padding: 0;
    overflow-y: scroll;
    box-shadow: none;
    margin: 0;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .summary {
    display: flex;
    flex-direction: column;
    box-shadow: none;
    border-bottom: var(--border);
    border-radius: 0;
  }

  .summary img {
    max-height: 150px;
    border-radius: 0;
  }

  .summary .btn-edit {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
  }

  .summary .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
  }

  .title {
    flex: 0;
    font-size: 1.5rem;
  }

  .instructions {
    padding: 5%;
  }
}
